<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright (c) 2015 杭州端点网络科技有限公司
  -->

<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <logger name="org.springframework.web" level="INFO" />
    <logger name="org.reflections.Reflections" level="ERROR" />
    <logger name="com.alibaba.dubbo" level="ERROR" />

    <logger name="io.terminus" level="INFO"/>
</configuration>
