<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright (c) 2016. 杭州端点网络科技有限公司.  All rights reserved.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="User">
    <update id="updateUserRoles" parameterType="User">
        UPDATE
        <include refid="tb"/>
        <set>
            <if test="rolesJson != null">roles_json = #{rolesJson},</if>
            updated_at=now()
        </set>
        WHERE id=#{id}
    </update>
</mapper>
