<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright (c) 2016. 杭州端点网络科技有限公司.  All rights reserved.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="Shop">

    <update id="updateShopStatus" parameterType="Shop">
        UPDATE
        <include refid="tb"/>
        <set>
            <if test="status != null">status = #{status},</if>
            <if test="type != null">type = #{type},</if>
            updated_at=now()
        </set>
        WHERE id=#{id}
    </update>

</mapper>